
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ControlCampus.Models.Subject;

<div class="container mt-4">
    <h2>@(Model?.Id > 0 ? "Editar Materia" : "Registrar Materia")</h2>
    <hr/>

    <form asp-action="Create" method="post">
        <input type="hidden" asp-for="Id" value="@(Model?.Id ?? 0)" />
        <div class="row">
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <label asp-for="Name" class="control-label">Nombre de la Materia</label>
                    <input asp-for="Name" class="form-control" required />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <label asp-for="Code" class="control-label">Codigo</label>
                    <input asp-for="Code" class="form-control" />
                </div>
            </div>
        </div>

        <div class="mt-3">
            <button type="submit" class="btn btn-primary">
                @(Model?.Id > 0 ? "Actualizar Cambios" : "Guardar Registro")
            </button>

            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>

